body {
    font-family: 'Courier New', Courier, monospace;
}

.navbar {  
    background-color:rgb(245, 178, 183);
    position: sticky;
    top: 0;
    z-index: 1000;

}

.sidebar {
    float:left;
    width: 200px;       
    height: 100vh;      
}

.sidebar a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.start {
    display: flex;    
    align-items: flex-start; 
    gap: 20px;               
    padding: 10px;
}
.banner-img {
    width: 20%;
    height: auto;
    display: block;
}

.p {
    flex: 1;
    line-height: 1.3;
    padding-top: 1%;

}
.filter {
    text-align: center;
}

.filter a {
    color: rgb(224, 109, 128);
    margin-right: 13px;
    padding-left: 0;
}

h2 {
    text-align: left;
    padding-left: 40px; 
}

.filter a:hover {
    color: hotpink;
}

ul {
    text-align: left;
}

ul li {
    list-style: none;
}

.cat-text {
    flex: 1;      
    font-size: 1.1rem;
    line-height: 1.4;
}
.cat-section {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 20px;
}

.cat-item {
    display: flex;         
    align-items: flex-start;
    gap: 30px;
}

.catimages {
    width: 200px;
    height: auto;
    border-radius: 15px;
}
