html, body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    height: 100%;
    padding: 0;
    overflow-y: auto;
}

.navbar {  
    background-color:rgb(245, 178, 183);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3000;
}
.heading {
    font-family: 'Meow Script', cursive;
    font-size: 7rem;
    font-weight: 800;
    margin-top: 80px;
    margin-bottom: 15px;
    color: rgb(9, 1, 59);
    line-height: 1.1;
}
.sidebar {
    position: fixed;     
    top: 80px;      
    left: 0;              
    height: calc(100vh - 80px);       
    width: 250px;         
    overflow-y: auto;     
    padding: 1rem; 
    z-index: 1000;
}


.sidebar a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.sidebar a:hover {
    color : rgb(180, 73, 91);
}

.main-content {
    margin-top: 1%;
    margin-left: 300px;
    padding: 1rem;
}


.start {
    display: flex;    
    align-items: flex-start; 
    gap: 20px;               
    padding: 10px;
}
.banner-img {
    width: 20%;
    height: auto;
    display: block;
}

p {
    flex: 1;
    line-height: 1.3;
    padding-top: 1%;

}
.filter {
    text-align: center;
    padding-bottom: 5%;
}

.filter a {
    color: rgb(224, 109, 128);
    margin-right: 13px;
    padding-left: 0;
}

h2 {
    text-align: left;
    padding-left: 40px; 
}

.filter a:hover {
    color: hotpink;
}

ul {
    text-align: left;
}

ul li {
    list-style: none;
}

.cat-text {
    flex: 1;      
    font-size: 1.1rem;
    line-height: 1.4;
}
.cat-section {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 20px;
}

.cat-item {
    display: flex;         
    align-items: flex-start;
    gap: 30px;
}

.catimages {
    width: 200px;
    height: auto;
    border-radius: 15px;
}

