body {
    font-family: 'Courier New', Courier, monospace;
}

.navbar {  
    background-color:rgb(245, 178, 183);
}

.start {
    display: flex;    
    align-items: flex-start; 
    gap: 20px;               
    padding: 10px;
}
.banner-img {
    width: 20%;
    height: auto;
    display: block;
}

.p {
    flex: 1;
    line-height: 1.3;
    padding-top: 1%;

}