body {
    font-family: 'Courier New', Courier, monospace;
}

.navbar {  
    background-color:rgb(245, 178, 183);
    position: sticky;

}

.sidebar {
    float:left;
    width: 200px;       
    height: 100vh;      
}

.start {
    display: flex;    
    align-items: flex-start; 
    gap: 20px;               
    padding: 10px;
}
.banner-img {
    width: 20%;
    height: auto;
    display: block;
}

.Abyssinian-img {
    display: block;
    margin-left: 220px;   
    margin-top: 40px;
    width: 20%;
    height: auto;
    border-radius: 10px;
}

.p {
    flex: 1;
    line-height: 1.3;
    padding-top: 1%;

}
.filter {
    text-align: center;
}

.filter a {
    color: pink;
    margin-right: 13px;
    padding-left: 0;
}

h2 {
    text-align: left;
    padding-left: 40px; /* more space to move right */
}

.filter a:hover {
    color: hotpink;
}

ul {
    text-align: left;
}

ul li {
    list-style: none;
}

.cat-text {
    flex: 1;      /* allows text to fill remaining space */
    font-size: 1.1rem;
    line-height: 1.4;
}
.cat-section {
    display: flex;
    align-items: flex-start;
    margin-left: 100px; /* was 200px */
    padding: 20px 20px 20px 0;
    gap: 20px;
}