body {
    font-family: 'Courier New', Courier, monospace;
}

.navbar {  
    background-color:rgb(245, 178, 183);
    position: sticky;
}

.start {
    display: flex;    
    align-items: flex-start; 
    gap: 20px;               
    padding: 10px;
}
.banner-img {
    width: 20%;
    height: auto;
    display: block;
}

.p {
    flex: 1;
    line-height: 1.3;
    padding-top: 1%;

}
.filter {
    text-align: center;
}

.filter a {
    color: pink;
    margin-right: 13px;
    padding-left: 0;
}

h2 {
    text-align: left;
    padding-left: 40px; /* more space to move right */
}

.filter a:hover {
    color: hotpink;
}

ul {
    text-align: left;
}

ul li {
    list-style: none;
}